// colors
$container-bg: rgb(194, 194, 194);
$article-title: rgb(88, 0, 0);

// correct way to define color
$article-text-color: white;


// sizes
$container-width: 1170px;
$article-text-font-size: 18px;